#mn_mov{
	display: none;
	cursor: pointer;
	transform: scale(2);
}
	#mn_mov:hover,#mn_mov:active{
		transform: scale(2.1);
	}
#mnP{
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	z-index: 99;
}
	#mnP a{
		color: #515050;
		padding: 0.5em 1em;
	}
	#mnP a:hover,#mnP a:active{
		background: #0067AE;
		color: #fff;
	}
	#mnP ul{
		display: flex;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}
		#mnP ul li{
			margin: 0;
			padding: 0.5em 0;
		}
			#mnP ul li ul{
				background: rgb(255,255,255);
				display: none;
				-webkit--ms-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				position: absolute;
				text-align: center;
			}
				#mnP ul li ul li{
					border-bottom: 1px solid #515050;
				}
					#mnP ul li ul li a:hover{background: none;}
				#mnP ul li ul li:hover{
					background: #0067AE;
				}
		#mnP ul li:hover>ul{
			display: flex;
		}
.submen{
	display: none;
}
@media screen and (max-width: 700px){
	#mn_mov{display: block;}
	#mnP{
		background: rgb(255,255,255);
		height: calc(100% - 80px);
		left: -100%;
		overflow: scroll;
		position: fixed;
		top: 9em;
		width: 70%;
		z-index: 30;
	}
		#mnP ul{
			display: block;
			margin-top: 1em;
			width: 100%;
		}
			#mnP ul li{
				border-bottom:1px solid black;
				display: block;
				text-align: left;
			}
				#mnP ul li ul{
					background: #F9F9F9;
					width: 100%;
					position: relative;
					z-index: 1;
				}
				#mnP ul li:hover ul{
					display: none;
				}
				#mnP ul li .submen{
					cursor: pointer;
					margin-top: -1em;
					position: absolute;
					right: 2em;
					transform: scale(1.5) rotate(180deg);
				}
				#mnP ul li .submen:hover,#mnP ul li .submen:active{
					transform: scale(2) rotate(180deg);
				}
	.submen{
		display: block;
	}
}