<span style='color: #000'>127 frames</span>	<span style='color: #900'>11,264 KB</span>	<span style='color: #090'>2,106.39 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>C:\xampp\htdocs\conax_seguimiento\dompdf\include\style.cls.php</b> on line <b>1418</b><br />
